<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8" style="color:white;">
        <p style="color:white;">Please check your Email Inbox, a confirm Email is Sent to @ViewBag.Email</p>
    </div>
</div>