

@{

    Layout = null;
}
<div class="modal-body">
    <form action="Cut" method="POST" name="form">
        @Html.DropDownList("Direc");
       
        <div class="Selection">

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>

            <input type="submit" class="btn btn-primary" value="Paste">
        </div>
    </form>

</div>

