
<a href="~/Views/Home/_Layout.cshtml"></a>
@Scripts.Render("~/slider")

<style>
    .jssorb05 {
        position: absolute;
    }

        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            width: 16px;
            height: 16px;
            background: url('img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }

        .jssorb05 div {
            background-position: -7px -7px;
        }

            .jssorb05 div:hover, .jssorb05 .av:hover {
                background-position: -37px -7px;
            }

        .jssorb05 .av {
            background-position: -67px -7px;
        }

        .jssorb05 .dn, .jssorb05 .dn:hover {
            background-position: -97px -7px;
        }

    .jssora22l, .jssora22r {
        display: block;
        position: absolute;
        width: 40px;
        height: 58px;
        cursor: pointer;
        background: url('img/a22.png') center center no-repeat;
        overflow: hidden;
    }

    .jssora22l {
        background-position: -10px -31px;
    }

    .jssora22r {
        background-position: -70px -31px;
    }

    .jssora22l:hover {
        background-position: -130px -31px;
    }

    .jssora22r:hover {
        background-position: -190px -31px;
    }

    .jssora22l.jssora22ldn {
        background-position: -250px -31px;
    }

    .jssora22r.jssora22rdn {
        background-position: -310px -31px;
    }
</style>


<div  id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden; visibility: hidden;">
    <!-- Loading Screen -->
    <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
        <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
    </div>
    <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1270px; height: 450px; overflow: hidden;">



        <div data-p="225.00" style="display: none;">
            <img data-u="image" src="~/img/sl3.png" />
            <div class="carousel-caption"> </div>
        </div>

        <div data-p="225.00" style="display: none;">
            <img data-u="image" src="~/img/sl4.png" />
        </div>

        <div data-p="225.00" style="display: none;">
            <img data-u="image" src="~/img/sl5.png" />
        </div>


        <div data-p="225.00" style="display: none;">
            <img data-u="image" src="~/img/sl6.png" />
            <div class="carousel-caption"><h1>Takes your docs anywhere</h1></div>
        </div>

        <div data-p="225.00" style="display: none;">
            <img data-u="image" src="~/img/sl7.jpg" />
            <div class="carousel-caption"></div>
        </div>
        <div data-p="225.00" style="display: none;">
            <img data-u="image" src="~/img/u.png" />
            <div class="carousel-caption"></div>
        </div>
    </div>
    <!-- Bullet Navigator -->
    <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
        <!-- bullet navigator item prototype -->
        <div data-u="prototype" style="width:16px;height:16px;"></div>
    </div>
    <!-- Arrow Navigator -->
</div>
<script>
    jssor_1_slider_init();
</script>

<div style="margin-top:70px;">





    <div class="row">
        <div class="col-md-5">
            <br><br><br><br><br><br><br>
            <h3 class="text-center" style="color:white;">UDrive is with you wherever you go</h3>
            <p class="text-center" style="color:white;">Get to all your files from any device, and </p>
            <p class="text-center" style="color:white;">share them with anyone you choose.</p>


        </div>
        <div class="col-md-6">

            <img class="img-circle" src="~/img/xx_donotuse_606-5175348.jpg" />

        </div>


    </div>

    <div class="info" style="margin-top:40px;">
        <div class="row">
            <div class="col-md-6">
                <img class='img-circle img-circle img-responsive' src="~/img/se.jpg" />

            </div>
            <div class="col-md-6">
                <br><br><br> <br><br><br>
                <h3 class="text-center" style="color:white;">Keep your photos safe</h3>
                <p class="text-center " style="color:white;">from your phone or computer. That way, </p>
                <p class="text-center" style="color:white;">memories are safe as soon as you make  </p>
                <p class="text-center" style="color:white;">them, and you can relive them from any  </p>
                <p class="text-center" style="color:white;">device. </p>


            </div>



        </div>


    </div>

    <div class="info" style="margin-top:40px;">
        <div class="row">
            <div class="col-md-5">
                <br><br><br> <br><br><br><br><br><br>
                <h3 class="text-center" style="color:white;">Work on slides together</h3>
                <p class="text-center " style="color:white;">Edit a presentation with teammates  </p>
                <p class="text-center" style="color:white;">without emailing files back and forth.   </p>
                <p class="text-center" style="color:white;">When you edit a file in a shared folder,  </p>
                <p class="text-center" style="color:white;">everyone gets the update automatically.</p>


            </div>
            <div class="col-md-5">
                <img class='img-circle img' src="~/img/sli.png" />

            </div>




        </div>


    </div>

    <div id="myCarousel" class="carousel slide " data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner sl" role="listbox" style="color:white;">
            <div class="item active">
                <div class="row">
                    <h3 class="text-center text-capitalize">Share & Colaborate</h3>
                    <h4 class="text-center" style="color:saddlebrown">Share Your Any Files With Anybody</h4>
                    <div class="col-md-5" style="border-right:2px solid black">

                        <img class='img-circle ' style="width:400px;height:300px;" src="~/img/sli.png" />


                    </div>
                    <div class="col-md-7" style="margin-top:40px;">
                        Are you tired of sharing files via email,<br />
                        inability to share large files,<br />
                        wasting time attaching and uploading same files over and<br />
                        over again to share them with different people,<br />
                        having no control of who actually has access to the data that you share?<br />
                        Well, you've come to the right place!
                        With UDrive you will be able to share any file of any size with anybody.<br />



                    </div>


                </div>
            </div>

            <div class="item">
                <div class="row" style="background:url('~/App_Data/img/1 (1).jpg');">
                    <h3 class="text-center">Security You Can Trust</h3>
                    <p class="text-center ">UDrive keeps enterprise security and end user productivity in perfect balance</p>
                    <div class="col-md-5" style="border-right:2px solid black">

                        <img class='img-circle' style="width:400px;height:300px;" src="~/img/boss.jpg" />


                    </div>
                    <div class="col-md-7">
                        <h3 class="text-center">Your stuff is safe </h3>
                        <p class="text-center ">At UDrive, the security of your data is our highest priority.</p>
                        <h3 class="text-center">Monitor account activity</h3>
                        <p class="text-center ">From the Events page, up-to-date account activity information is available for shared folders and active sharing links, as is a running log of individual file and folder edits, addition, and deletions. From the Profile page, you can also opt in to receive notifications whenever a new device or app is linked to your account.</p>



                    </div>



                </div>

            </div>
            <div class="item">
                <div class="row" style="background-image: url('~/App_Data/img/1 (1).jpg');">
                    <h3 class="text-center">Global Access - Anytime, Anywhere</h3>
                    <p class="text-center "> Access your data from any Internet connected device.</p>
                    <div class="col-md-5" style="border-right:2px solid black">

                        <img class='img-circle' style="width:400px;height:300px;" src="~/img/7-.png" />


                    </div>

                    <div class="col-md-7">
                        <h3 class="text-center">Anydevice - Anytime, Anywhere </h3>



                        <br />
                        <p class="text-center ">
                            There is no need to carry around memory cards, <br />
                            hard drives or any other external storage devices.<br />
                            By putting your data to your FlipDrive account, <br />
                            it goes wherever you go!
                        </p>



                    </div>.



                </div>

            </div>

        </div>






        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


</div>
<hr />

<section class="uu" style="width:100%;">


    <div class="row intro-tables" style="padding-left:10px;padding-right:10px;">
        <div class="col-md-4">
            <div class="intro-table intro-table-hover1">
                <h5 class="white heading hide-hover">Feedback</h5>
                <div class="bottom">
                    <h4 class="white heading small-heading no-margin regular">Send us feedback</h4>

                    <a href="@Url.Action("Feedback","Home")" class="btn btn-white-fill expand">Feedback</a>
                </div>
            </div>
        </div><div class="col-md-4">
            <div class="intro-table intro-table-hover">
                <h5 class="white heading hide-hover">Premium Membership</h5>
                <div class="bottom">
                    <h4 class="white heading small-heading no-margin regular">Register Today</h4>
                    <h4 class="white heading small-pt">20% Discount</h4>
                    <a href="#" class="btn btn-white-fill expand">Register</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="intro-table intro-table-hover2">
                <h5 class="white heading hide-hover">Not member yet???</h5>
                <div class="bottom">
                    <h4 class="white heading small-heading no-margin regular"></h4>
                    <h4 class="white heading small-heading no-margin regular"></h4>
                    <h4 class="white heading small-heading no-margin regular">Get started now</h4>
                    
                    <a href="@Url.Action("Register","Account")" class="btn btn-white-fill expand">Registeration</a>
                </div>
            </div>
        </div>
    </div>

</section>
   <div class="text-capitalize text-center" strong style="color:white" >Online users <strong class="badge" style="color:white; background-color:red" id="Counter">  </strong></div>
<hr />
   
<section id="services" class="section section-padded back" style="color:white;">

    <div class="row text-center title">
        <h2>Services</h2>
        <h4 class="text-center">Achieve the best results with our wide varieties!</h4>
    </div>
    <div class="row services ">
        <div class="col-md-4">
            <div class="service">
                <div class="icon-holder">
                    <img src="~/img/relax.png" alt="" class="icon">
                </div>
                <h4 class="heading">Relax</h4>
                <p class="description">No need to buy costly devices like external hard disk save your data in UDrive</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service">
                <div class="icon-holder">
                    <img src="~/img/Security_Approved.png" alt="" class="icon">
                </div>
                <h4 class="heading">Security</h4>
                <p class="description">Never loose your file .you can access your file from anywhere,anydevice and anytime.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service">
                <div class="icon-holder">
                    <img src="~/img/unnamed.png" alt="" class="icon">
                </div>
                <h4 class="heading">UDrive</h4>
                <p class="description">You can enjoye free storage with UDrive with limited size where you can save your Docx.</p>
            </div>
        </div>
    </div>

    <div class="cut cut-bottom"></div>
</section>
<script>
    
      $(function(){
          var counterHub=$.connection.counterHub;
          $.connection.hub.start().done(function(){
            
            
          });
          counterHub.client.UpdateCount=function(count){
              $("#Counter").text(count);
          }
      });
</script>