@model WebApplication5.Models.Login

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<table style="font-family:Arial">
    <tr>
        <td>
            Email:
        </td>
        <td>
            @Model.Email


        </td>
        
    </tr>
    <tr>
        <td>
            Password:
        </td>
        <td>
            @Model.Password



        </td>

    </tr>
</table>

