
@{
    ViewBag.Title = "video";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<div height="240" width="320" controls>
    <video>
        <source src="@Url.Content(Server.MapPath("~/App_Data/uploads/Tu Jo Mila (Bajrangi Bhaijaan) Full HD(videoming.in).mp4"))" type='video/mp4' />
    </video>
</div>

