@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);



a {
	text-decoration: none;
	color: #00a8ff;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn.btn-white-fill {
	color: green;
	border-color: #fff;
	background: transparent;
}
.dropdown-menu {
  box-shadow: none;
  border-color: #eee;
}
.dropdown-menu > li > a {
  color: #777;
}
.dropdown-menu > li > a > .glyphicon,
.dropdown-menu > li > a > .fa,
.dropdown-menu > li > a > .ion {
  margin-right: 10px;
}
.dropdown-menu > li > a:hover {
  background-color: #e1e3e9;
  color: #333;
}
.dropdown-menu > .divider {
  background-color: #eee;
}
.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
  width: 280px;
  padding: 0 0 0 0;
  margin: 0;
  top: 100%;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li,
.navbar-nav > .messages-menu > .dropdown-menu > li,
.navbar-nav > .tasks-menu > .dropdown-menu > li {
  position: relative;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.navbar-nav > .messages-menu > .dropdown-menu > li.header,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
  font-size: 14px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #444!important;
  text-align: center;
}
@media (max-width: 991px) {
  .navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
  .navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
  .navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
    background: #fff!important;
    color: #444!important;
  }
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a:hover {
  text-decoration: none;
  font-weight: normal;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
  max-height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
  display: block;
  white-space: nowrap;
  /* Prevent text from breaking */
  border-bottom: 1px solid #f4f4f4;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a:hover {
  background: #f4f4f4;
  text-decoration: none;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  color: #444444;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
  width: 20px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a {
  margin: 0;
  padding: 10px 10px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > img {
  margin: auto 10px auto auto;
  width: 40px;
  height: 40px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
  padding: 0;
  margin: 0 0 0 45px;
  color: #444444;
  font-size: 15px;
  position: relative;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
  color: #999999;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
  margin: 0 0 0 45px;
  font-size: 12px;
  color: #888888;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:before,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
  content: " ";
  display: table;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
  clear: both;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
  padding: 10px;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > h3 {
  font-size: 14px;
  padding: 0;
  margin: 0 0 10px 0;
  color: #666666;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > .progress {
  padding: 0;
  margin: 0;
}
.navbar-nav > .user-menu > .dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1px 0 0 0;
  border-top-width: 0;
  width: 280px;
}
.navbar-nav > .user-menu > .dropdown-menu,
.navbar-nav > .user-menu > .dropdown-menu > .user-body {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
  z-index: 5;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  margin-top: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
  display: block;
  font-size: 12px;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body {
  padding: 15px;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #dddddd;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body:before,
.navbar-nav > .user-menu > .dropdown-menu > .user-body:after {
  content: " ";
  display: table;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body:after {
  clear: both;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body a {
  color: #444 !important;
}
@media (max-width: 991px) {
  .navbar-nav > .user-menu > .dropdown-menu > .user-body a {
    background: #fff !important;
    color: #444 !important;
  }
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
  background-color: #f9f9f9;
  padding: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer:before,
.navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
  content: " ";
  display: table;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
  clear: both;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
  color: #666666;
}
@media (max-width: 991px) {
  .navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default:hover {
    background-color: #f9f9f9;
  }
}
.navbar-nav > .user-menu .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}
@media (max-width: 767px) {
  .navbar-nav > .user-menu .user-image {
    float: none;
    margin-right: 0;
    margin-top: -8px;
    line-height: 10px;
  }
}
.btn.btn-white-fill:hover {
	color: #00a8ff;
	background: #fff;
}

.btn.btn-gray-fill {
	color: #fff;
	border-color: #fff;
	background: transparent;
}

.btn.btn-gray-fill:hover {
	border-color: #bbb;
	background: #bbb;
}


.intro-table {
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: repeat;
	background-position: 0% 0%;
}

.intro-table-first {
	background-image: url('../img/table-1.jpg');
}

.back {
	background-image: url('../img/o-INTERNET-ACCESS-GLOBAL-facebook.jpg');
    
}
.uu {
	background-image: url('../img/header.jpg');
    
}
.ff{
    background-image: url('../img/footer.jpg');
}
.sl{
     background-image: url('../img/header.jpg');
     
     color:black;
    
     
}

.intro-table-hover {
	-webkit-transition: background-image 0.3s ease, background-position 0.3s;
	transition: background-image 0.3s ease, background-position 0.3s;
	background-image: url('../img/table-2.jpg');
}
.intro-table-hover1 {
	-webkit-transition: background-image 0.3s ease, background-position 0.3s;
	transition: background-image 0.3s ease, background-position 0.3s;
	background-image: url('../img/table-1.jpg');
}
.intro-table-hover2 {
	-webkit-transition: background-image 0.3s ease, background-position 0.3s;
	transition: background-image 0.3s ease, background-position 0.3s;
	background-image: url('../img/table-3.jpg');
}
.intro-table-hover h4 {
	-webkit-transform: translateY(170px);
	transform: translateY(170px);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.intro-table-hover2 h4 {
	-webkit-transform: translateY(170px);
	transform: translateY(170px);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.intro-table-hover1 h4 {
	-webkit-transform: translateY(170px);
	transform: translateY(170px);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.intro-table-hover:hover {
	background-image: url('../img/table-2-hover.jpg');
	background-position: 50% 50%;
}
.intro-table-hover1:hover {
	background-image: url('../img/table-2-hover.jpg');
	background-position: 50% 50%;
}
.intro-table-hover2:hover {
	background-image: url('../img/table-2-hover.jpg');
	background-position: 50% 50%;
}

.intro-table-third {
	background-image: url('../img/table-3.jpg');
}

.intro-table-hover .expand {
	margin: 30px;
	margin-top: 120px;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s ease, opacity 0.3s;
	-webkit-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transform: scale(0.6);
}
.intro-table-hover2 .expand {
	margin: 30px;
	margin-top: 120px;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s ease, opacity 0.3s;
	-webkit-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transform: scale(0.6);
}
.intro-table-hover1 .expand {
	margin: 30px;
	margin-top: 120px;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s ease, opacity 0.3s;
	-webkit-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transform: scale(0.6);
}

.intro-table-hover:hover h4 {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.intro-table-hover1:hover h4 {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.intro-table-hover2:hover h4 {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.intro-table-hover:hover .expand {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.intro-table-hover1:hover .expand {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.intro-table-hover2:hover .expand {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.intro-table-hover .hide-hover {
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}
.intro-table-hover1 .hide-hover {
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}
.intro-table-hover2 .hide-hover {
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.intro-table-hover:hover .hide-hover {
	opacity: 0;
}
.intro-table-hover1:hover .hide-hover {
	opacity: 0;
}
.intro-table-hover2:hover .hide-hover {
	opacity: 0;
}

.intro-tables .intro-table {
	position: relative;
	width: 100%;
	height: 300px;
	margin: 20px 0;
}

.intro-tables .intro-table .heading {
	margin: 0;
	padding: 30px;
}

.intro-tables .intro-table .small-heading {
	margin: 0;
	padding: 0 30px;
}

.intro-tables .intro-table .bottom {
	position: absolute;
	bottom: 0;
}

.intro-tables .intro-table .owl-schedule .schedule-row {
	padding: 10px 30px;
	color: white;
	transition: all 0.3s ease;
}

.owl-schedule .schedule-row:not(:last-child) {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.owl-testimonials .author {
	margin-top: 50px;
}

.ripple-effect {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: white;
	-webkit-animation: ripple-animation 2s;
	animation: ripple-animation 2s;
}

@-webkit-keyframes ripple-animation {
	from {
		opacity: 0.2;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	to {
		opacity: 0;
		-webkit-transform: scale(100);
		transform: scale(100);
	}
}

@keyframes ripple-animation {
	from {
		opacity: 0.2;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	to {
		opacity: 0;
		-webkit-transform: scale(100);
		transform: scale(100);
	}
}

.services {
	margin: 40px 0;
}

.service {
	width: 100%;
	height: 320px;
	margin: 80px 0;
	text-align: center;
	border: 1px solid #ddd;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service .icon-holder {
	position: relative;
	top: 100px;
	display: inline-block;
	margin-bottom: 40px;
	padding: 10px;
	background: white;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service .heading {
	position: relative;
	top: 80px;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.service .icon-holder > img.icon {
	width: 40px;
}

.service:hover {
	border-color: #00a8ff;
}

.service:hover .icon-holder {
	top: -30px;
}

.service:hover .heading {
	top: -30px;
}

.service .description {
	width: 80%;
	margin: 0 auto;
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.service:hover .description {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.team {
	margin: 80px 0;
	padding-bottom: 60px;
	background: white;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
}

.team .cover .overlay {
	height: 250px;
	padding-top: 60px;
	opacity: 0;
	background: rgba(0, 168, 255, 0.9);
	-webkit-transition: opacity 0.45s ease;
	transition: opacity 0.45s ease;
}

.team:hover .cover .overlay {
	opacity: 1;
}

.team .avatar {
	position: relative;
	z-index: 2;
	margin-top: -60px;
	border-radius: 50%;
}

.team .title {
	margin: 50px 0;
}
/* Pricing */

#pricing {
	background: #00a8ff url('../img/pricing1.jpg') no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-transition: background-image 0.6s linear 0.3s;
	transition: background-image 0.6s linear 0.3s;
}

.owl-pricing img {
	width: 100%;
}

.owl-pricing,
.pricings {
	margin-top: 100px;
	margin-bottom: 100px;
}

.pricing {
	position: relative;
	width: 100%;
}

.pricings .pricing .box-main,
.pricings .pricing .box-second {
	position: relative;
	left: 25%;
	display: inline-block;
	width: 50%;
	height: 300px;
	padding: 50px 40px;
	background: #bbb;
	-webkit-transition: -webkit-transform 0.3s, background-image 0.3s, opacity 0.3s;
	transition: transform 0.3s, background-image 0.3s, opacity 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.pricings .pricing .box-main {
	z-index: 10;
	padding-top: 40px;
}

.pricings .pricing .box-main:not(.active) {
	cursor: pointer;
}

.pricings .pricing .box-main .info-icon {
	font-size: 14px;
	position: absolute;
	top: 20px;
	right: 20px;
	pointer-events: none;
	opacity: 0;
	color: #fff;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.pricings .pricing .box-main:not(.active) .info-icon {
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.pricings .pricing .box-main:not(.active):hover {
	background: #afafaf;
}

.pricings .pricing .box-main.active {
	background: #00a8ff;
	-webkit-transform: translateX(-99%);
	-ms-transform: translateX(-99%);
	transform: translateX(-99%);
}

.pricings .pricing .box-second {
	position: absolute;
	top: 0;
	right: 0% !important;
	left: auto;
	opacity: 0;
	background: #afafaf;
}

.pricings .pricing .box-second.active {
	opacity: 1;
	background: #00a8ff;
}

.pricings .pricing.active .box-main,
.pricings .pricing .box-second {
	background: #00a8ff;
}

.pricings .pricing .box-main a.btn {
	margin-top: 50px;
}

.owl-twitter i.icon {
	font-size: 36px;
	margin-bottom: 60px;
	color: white;
}
/* Footer */
/* Colors */

.white {
	color: white;
}

.light-white {
	color: rgba(255, 255, 255, 0.5);
}

.white-bg {
	background: white;
}

.gray-bg {
	background: #f7f7f7;
}

.blue {
	color: #00a8ff;
}

.blue-bg {
	background: #00a8ff;
}

.muted {
	color: #989da0;
}

.margin-top {
	margin-top: 150px;
}

@media(max-width:992px) {
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 12px;
	}
	.section {
		padding: 30px 0;
	}
}

/* Media Queries */

@media(max-width:991px) {
	.text-center-mobile {
		text-align: center !important;
	}
}

@media(max-width: 768px) {
	.pricing {
		margin-bottom: 30px;
	}
	.pricings .pricing .info-icon {
		display: none;
	}
	.pricings .pricing .box-main,
	.pricings .pricing .box-second {
		left: 0;
		width: 100%;
		padding: 50px 50px 0;
		text-align: left;
		background: #00a8ff;
	}
	.pricings .pricing .box-main.active {
		background: #00a8ff;
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);
	}
	.pricings .pricing .box-second {
		position: relative;
		opacity: 1;
	}
	.popup-form {
		width: 100%;
		margin: 60px auto;
	}
	.modal {
		padding: 0 10px !important;
	}
	.popup-form .form-control:not(.dropdown):focus {
		position: relative;
		padding-right: 30px;
		padding-left: 30px;
	}
}

@media(max-width: 400px) {
	header .typed-cursor {
		display: none;
	}
	.pricings .pricing .box-second {
		padding-top: 0;
	}
}





